# in any of your work requiring any functions, kindly add in the package name + version here
# this allows us to quickly install them into a virtual environment where we can just type
# pip install -r requirements.txt and get everything we need for this project.

Flask==0.12.2
flask_restful==0.3.7
pymysql==0.9.3
requests==2.20.0
jsonschema==2.6.0
simplejson==3.16.0
emoji==0.5.1
python-telegram-bot==11.1.0

spacy == 2.1.8
pdfminer.six == 20181108
nltk == 3.4.5
phonenumbers == 8.10.18
textblob == 0.15.3
