# Purpose: tell docker what packages and their versions are needed to run the Python script
# How to run: pip install -r requirements.txt
Flask==0.12.2
flask_restful==0.3.7
pandas == 0.24.2
numpy == 1.22.0
pymysql == 0.9.3
configparser == 4.0.2
requests==2.20.0
jsonschema==2.6.0
simplejson==3.16.0
emoji==0.5.1

spacy == 2.1.8
pdfminer.six == 20181108
nltk == 3.4.5
phonenumbers == 8.10.18
textblob == 0.15.3
docx2txt == 0.8
odfpy == 1.4.0